parameters:
  bootstrapFiles:
    - %currentWorkingDirectory%/../../lib/base.php
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - %currentWorkingDirectory%/appinfo/routes.php
  ignoreErrors:
    -'#^Property OCA\\Encryption\\[^"]* is never read, only written.$#'
