<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/unit/bootstrap.php" beStrictAboutOutputDuringTests="true" verbose="true" failOnRisky="true" failOnWarning="true" timeoutForSmallTests="900" timeoutForMediumTests="900" timeoutForLargeTests="900" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./lib</directory>
      <directory suffix=".php">./appinfo</directory>
      <directory suffix=".php">./templates</directory>
    </include>
    <report>
      <clover outputFile="./tests/output/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">./tests/unit</directory>
    </testsuite>
  </testsuites>
  <!-- filters for code coverage -->
  <logging>
    <!-- and this is where your report will be written -->
  </logging>
</phpunit>
